<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 clas="alert-primary">Add Product</h1>
      <form>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Product Name</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="name"
            [(ngModel)]="product.name"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Product Price</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="price"
            [(ngModel)]="product.price"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Product description</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="description"
            [(ngModel)]="product.description"
          ></textarea>
        </div>
        <div class="col-auto">
          <button
            type="submit"
            class="btn btn-primary mb-3"
            (click)="addProduct()"
          >
            Add Product
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
