<main class="main" #container>
  <app-header></app-header>
  <!-- <app-add-product (onAddProduct)="addNewProduct($event)"></app-add-product> -->
  <div class="container">
    <!-- <h1 class="col-10 text-primary">Products</h1>
    <div class="row">
      <app-products
        class="col"
        *ngFor="let product of products"
        [product]="product"
      >
      </app-products>
    </div> -->

    <!-- <div class="row mb-3">
      <h1 class="col-10 text-primary">Meals</h1>
      <button class="btn btn-primary col-2" (click)="getRandomDescription($event)">Get Description</button>
    </div> -->
    <!-- <div class="row">
      <app-meals
        class="col"
        *ngFor="let meal of meals"
        [meal]="meal"
      >
        <img [src]="meal.image" alt="" style="height: 10rem" />
      </app-meals>
    </div> -->
    <router-outlet></router-outlet>

  </div>
  <app-footer></app-footer>
</main>

