<!-- <p>{{ product.image }}</p>
<p>{{ product.name }}</p>
<p>{{ product.price }}</p>
<p>{{ product.description }}</p> -->
<div class="card mb-5" style="width: 18rem;">
    <img src="../../assets/Images/product.jpg" class="card-img-top" style="height: 10rem;" alt="product-img">
    <div class="card-body">
      <div style="display: flex; width: 100%;">
        <h5 class="card-title text-primary">{{ product.name }}</h5>
        <p class="text-end">{{ product.price }}</p>
      </div>
      <p class="card-text">{{ product.description }}</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
</div>
